@font-face {
  font-family: "FiraCode";
  src: url("../typeface/FiraCode-Regular.ttf");
}

@font-face {
  font-family: "FiraCode";
  src: url("../typeface/FiraCode-Bold.ttf");
  font-weight: bold;
}

@keyframes cursorBlind{
  from {
    background-color: indigo;
  }
  50% {
    background-color: rgb(6, 0, 7);
  }
  to {
    background-color: rgb(123, 21, 196);
  }
}

.shell-container {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background: black;
  font-family: 'FiraCode';
  color: white;
  white-space: pre-wrap;
}

.shell-container::-webkit-scrollbar-thumb {
    border: 1px solid #ffffff;
    background: #929292;
}

.shell-input {
  height: 16px;
  //border: 1px solid red;
  width:inherit;
  display: flex;
}

.shell-input-inputElement{
  position: relative;
  padding-right: 2px;
  flex: 1;
  height: inherit;
  overflow-x: hidden;
  outline: none;
}

.shell-input-renderer{
  height: inherit;
  width: max-content;
}

.shell-input-cursor{
  display:inline-block;
  position: absolute;
  height: inherit;
  width:2px;
  background: indigo;
  animation: cursorBlind 0.9s infinite;
}
